* {
	box-sizing: border-box;
	border: 1px black solid;
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Space Mono", monospace;
}

main {
	display: grid;
	grid-template-rows: 0.5fr 0.25fr 0.25fr 1.5fr 3fr 3fr;
	height: 100%;
	margin-left: 10px;
}

header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

h2 {
	font-size: 1rem;
	padding-left: 5px;
}

nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
}

.nav {
	padding: 2px;
}

.search-bar-headers {
	display: grid;
	grid-template-columns: 400px 400px 400px 105px;
	justify-content: center;
}

/* .search-bar-headers {
	display: flex;
	align-items: center;
	justify-content: center;
} */
.search-bar {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#location {
	height: 60px;
	width: 400px;
	padding: 10px;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid rgba(158, 179, 194, 0.25);
	box-shadow: 3px 3px 3px rgba(158, 179, 194, 0.25);
	font-family: "Work Sans", sans-serif;
}

#check-in {
	height: 60px;
	width: 400px;
	padding: 10px;
	border-radius: 0;
	border: 1px solid rgba(158, 179, 194, 0.25);
	box-shadow: 3px 3px 3px rgba(158, 179, 194, 0.25);
	font-family: "Work Sans", sans-serif;
}

#guests {
	height: 60px;
	width: 400px;
	padding: 10px;
	border-radius: 0px 5px 5px 0px;
	border: 1px solid rgba(158, 179, 194, 0.25);
	box-shadow: 3px 3px 3px rgba(158, 179, 194, 0.25);
	font-family: "Work Sans", sans-serif;
}

#search {
	padding: 20px;
	margin: 10px;
	font-family: "Work Sans", sans-serif;
}

.quote {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 5rem;
	margin-top: 50px;
}

.image-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-left: 20px;
}

.image-row img {
	margin: 10px;
	border-radius: 10px;
}
